body {
    font-family: Arial, Helvetica, sans-serif ;
}

.navbar {
    list-style: none;
    margin-left:-40px;
}

a {
    text-decoration: none;
    color:black
}

.heading {
    margin: auto;
    width: 90%;
}

.navbar li {
    display: inline-block;
    margin-right: 50px; /* add spacing between items */
    font-size:14px;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

.banner {
    margin: auto;
    width: 90%;
    background-color: black;
    color:white;
    font-size:48;
    text-align:center

}

.gallery 
{
    margin: auto;
    width: 80%;
    background-color: aqua;
    height: 80%;
}

.gallimg
{
    width:200px;
    height:200px;
}

.galldiv
{
    margin:20px;
    padding:20px;

    border: 1px solid black;
    text-align:center;
    background-color: aliceblue;
    box-shadow: 10px 10px 5px lightblue;
    float:left;
}



.menu
{
    font-family: "Times New Roman", Times, serif;
    text-align:center;
    margin:0 auto; 
    width:60%;
    background-color: yellow;
    border: 1px solid black;
}

.nandos
{
    margin:0 auto; 
    width:80%;
    float:left; 
}

.box
{
    background-color: bisque;
    margin:10px;
    padding:10px;
    width:45%;

}